.profile {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  margin: 50px auto;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 60%;
  text-align: left;
}

.profile ul {
  list-style: none;
}

h1 {
  margin-left: 50px;
}
